# Данные (сырые и обработанные)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Но не игнорировать sample-файлы
!data/sample/*.csv

# Сохранённые модели
models/*
!models/.gitkeep

# Виртуальное окружение
.venv/

# Настройки IDE
.vscode/

# Кэш Python
__pycache__/
*.pyc

# Временные файлы Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints