# Игнорировать все CSV-файлы в папке data/raw/
data/raw/*.csv

# Но не игнорировать sample-файлы (если они лежат в data/sample/)
!data/sample/*.csv

# Virtual Environment
.venv/

# IDE settings
.vscode/